<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.dao.AdminDao">

	<resultMap type="Admin" id="AdminResult">
		<result property="id" column="id"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
	</resultMap>
	
	<select id="list" parameterType="Map" resultMap="AdminResult">
		select * from t_resources
		<where>
		    <if test="name!=null and name!='' ">
		    	and name like #{name}
		    </if>
			<if test="userUk!=null and userUk!='' ">
				and userUk=#{userUk}
			</if>
		</where>
		order by publishDate desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>

	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_resources
		<where>
			<if test="name!=null and name!='' ">
		    	and name like #{name}
		    </if>
			<if test="userUk!=null and userUk!='' ">
				and userUk=#{userUk}
			</if>
		</where>
	</select>
	

	
	<update id="update" parameterType="Resources">
		update t_resources
		<set>
		    <if test="name!=null and name!='' ">
				name=#{name},
			</if>
			<if test="publishDate!=null">
				publishDate=#{publishDate},
			</if>
			<if test="hits!=null ">
				hits=#{hits},
			</if>
			<if test="downloads!=null ">
				downloads=#{downloads},
			</if>
			<if test="shareDate!=null">
				shareDate=#{shareDate},
			</if>
			<if test="shareUrl!=null and shareUrl!='' ">
				shareUrl=#{shareUrl},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from t_resources where id=#{id}
	</delete>
	
	<select id="listNewest" parameterType="Integer" resultMap="AdminResult">
		select * from t_resources
		order by publishDate desc
		limit 0,#{n}
	</select>
	
	<select id="findById" parameterType="Integer" resultMap="AdminResult">
		select * from t_resources where id=#{id}
	</select>
	
	<select id="randomList" parameterType="Integer" resultMap="AdminResult">
		select * from t_resources order by RAND() limit #{n}
	</select>
	
</mapper> 